.main-div{
    height:100vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .searchcontainer {
    text-align:center;
 }

 .searchcontainer .search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:1%;
 }

 mat-form-field {
  width: 25vh;
  margin-bottom:2%;
}

.fondo1{
  background-image: url(../../assets/pago-validador.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50em;
  height: 25em;
}

.fondo2{
  background-image: url(../../assets/bondi-adentro1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50em;
  height: 25em;
}