.main-div{
    height:100vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .searchcontainer {
    text-align:center;
    width: 100%;
 }

 .searchcontainer .search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:1%;
 }

 mat-form-field {
  width: 25vh;
  margin-bottom:2%;
}