<div class="main-div">
  <mat-card class="searchcontainer" [@flyInOut1] *ngIf="animation">
      <div class="box-options">
        <button mat-flat-button (click)="saldosClick()">
            <h3><i class="bi bi-cash-coin"></i><br/>Saldo y Recargas</h3>
            <!--p>Alguna aclaración mas</p-->
        </button>
      </div>
  </mat-card>
  <mat-card class="searchcontainer" [@flyInOut2] *ngIf="animation">
      <div class="box-options">
        <button mat-flat-button (click)="movimientosClick()">
          <h3><i class="bi bi-truck-front"></i><br/>Tus Movimientos</h3>
          <!--p>Alguna aclaración mas</p-->
        </button>
      </div>
  </mat-card>
  <mat-card class="searchcontainer" [@flyInOut3] *ngIf="animation">
    <div class="box-options">
      <button mat-flat-button (click)="asociarTarjetaClick()">
        <h3><i class="bi bi-credit-card"></i><br/>Asociar Tarjeta</h3>
        <!--p>Alguna aclaración mas</p-->
      </button>
    </div>
</mat-card>
  <mat-card class="searchcontainer" [@flyInOut4] *ngIf="animation">
      <div class="box-options">
        <button mat-flat-button (click)="roboClick()">
          <h3><i class="bi bi-shield-exclamation"></i><br/>Denunciar Robo o Perdida</h3>
          <!--p>Alguna aclaración mas</p-->
        </button>
      </div>
  </mat-card>
</div>
