<div class="main-div">
    <mat-card class="searchcontainer">
        <div class="fondo1">
        <div>
            <button mat-flat-button color="basic" (click)="saldosClick()" style="margin-top: 6em;">Saldo y Recargas</button>
        </div>
    </div>
    </mat-card>
    <mat-card class="searchcontainer">
        <div class="fondo2">
        <div>
            <button mat-flat-button color="basic" (click)="movimientosClick()" style="margin-top: 6em;">Tus Movimientos</button>
        </div>
        </div>
    </mat-card>
    <mat-card class="searchcontainer">
        <div class="fondo3">
        <div>
            <button mat-flat-button color="basic" (click)="roboClick()" style="margin-top: 6em;">Denunciar Robo o Perdida</button>
        </div>
        </div>
    </mat-card>
</div>