.main-div{
    min-height:80vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .searchcontainer {
    text-align:center;
 }

 .searchcontainer .search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:1%;
    margin-bottom:1%;
 }

 mat-form-field {
  width: 25vh;
  margin-bottom:2%;
}

.fondo1{
  background-image: url(../../assets/pago-validador.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50em;
  height: 15em;
}

.fondo2{
  background-image: url(../../assets/bondi-adentro1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50em;
  height: 15em;
}

.fondo3{
  background-image: url(../../assets/policia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50em;
  height: 15em;
}

.box-options{
  display: grid;
  text-align: center;
}

.box-options>button {
  width: 20em;
  background-color: white;
  color: #525252;
  font-size: 1.2em;
  margin:auto;
  padding: 4px;
}

.box-options>button h3{
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.25em;
}

.box-options>button i{
  font-size: 2em;
  color: #37bbed;
}
