<div class="main-div">
    <mat-card class="searchcontainer" [@flyInOut] *ngIf="animation">
        <mat-card-header class="search-part">
            <mat-card-title>Transferir saldo</mat-card-title>
        </mat-card-header>
        <mat-form-field class="search-part">
            <input matInput placeholder="Ingresá el mail del usuario" [(ngModel)]="mail" required>
        </mat-form-field>
        <mat-form-field class="search-part">
            <input matInput placeholder="Ingresá el monto a transferir" [(ngModel)]="monto" required>
        </mat-form-field>
        <div style="display:grid ;"> 
        <button class="button-1" mat-flat-button color="primary" id="loginButton" (click)="transferir()" [disabled]="loading">Transferir</button>
        <button class="button-1" mat-flat-button color="secondary" id="backButton" (click)="backButtonOnClick()" [disabled]="loading">Volver</button>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading" class="loader"></mat-spinner>
</div>