.example-input-wrapper {
    margin-bottom: 16px;
  }
  
  label {
    margin-right: 4px;
  }

  .main-div{
    height:95vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .searchcontainer {
    text-align:center;
    width: 100%;
 }

 .container {
  text-align:center;
  width:40em;
  height:18em;
}

 .field {
  text-align:center;
  width: 48%;
  margin: 1%;
}