.container-static{
  background-color: white!important;
  width: 1000px;
  margin:auto;
  padding-top: 20px;
  padding: 20px;
  min-height: 250px;
}

.container-static h1{
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;

}

h4{
  font-size: 2em;
}

.main-div{
  min-height:80vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
