<div class="main-div">
    <mat-card class="searchcontainer">
        <div class="searchcontainer">
            <mat-card-header class="search-part">
                <mat-card-title>Monto a Cargar</mat-card-title>
            </mat-card-header>
            <mat-form-field class="search-part">
                <input type="number" matInput placeholder="Saldo" [(ngModel)]="nuevoSaldo" required>
            </mat-form-field>
            <button mat-flat-button color="primary" id="loginButton" (click)="test1()">Recargar con Mercado Pago</button>
        </div>
    </mat-card>
</div>