<div class="main-div">
    <mat-card class="searchcontainer" *ngIf="status == ''">
        <div class="searchcontainer">
            <mat-card-header class="search-part">
                <mat-card-title>Monto a Cargar</mat-card-title>
            </mat-card-header>
            <mat-form-field class="search-part">
                <input type="number" matInput placeholder="Saldo" [(ngModel)]="nuevoSaldo" required>
            </mat-form-field>
            <div style="display:grid ;"> 
            <button class="button-1" mat-flat-button color="primary" id="loginButton" (click)="test1()">Recargar con Mercado Pago</button>
            <button class="button-1" mat-flat-button color="secondary" id="backButton" (click)="backButtonOnClick()">Volver</button>
        </div>
        </div>
    </mat-card>
    <mat-card class="searchcontainer" *ngIf="status != ''">
        <div class="searchcontainer">
            <mat-card-header class="search-part">
                <mat-card-title>Se acreditó tu pago</mat-card-title>
            </mat-card-header>
            <mat-card-header class="search-part">
                <mat-card-title>Cargaste ARS {{nuevoSaldo}} a tu cuenta</mat-card-title>
            </mat-card-header>
            <button class="button-1" mat-flat-button color="primary" id="loginButton" (click)="volverASaldos()">Volver a Tu Saldo</button>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading" class="loader"></mat-spinner>
</div>