<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="registerClick()">Logout</button>
</mat-menu>
    <span (click)="homeClick()">BondiPago</span>
    <span class="example-spacer"></span>
    <!-- <img src="./assets/logo-blanco.png" height="100%"> -->
  </mat-toolbar>
  <div class="fondo">
<router-outlet></router-outlet>
</div>