.main-div{
    height:80vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .searchcontainer {
    text-align:center;
    width: 100%;
 }

 .loader {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .searchcontainer .search-part {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:1%;
 }

 mat-form-field {
  width: 35vh;
  margin-bottom:2%;
}


button#loginButton {
  width: 35vh;
  background-color: #00FF97;
  color: #424242;
}
