
<div class="main-div">
<mat-card class="searchcontainer" [@flyInOut] *ngIf="animation" (keydown.enter)='loginButtonOnClick()'>
  <div class="searchcontainer">
    <mat-card-header class="search-part">
        <mat-card-title>¡Hola! Ingresá tu usuario y contraseña</mat-card-title>
   </mat-card-header>
   <mat-card-content>

    <div class="search-part">
    <mat-form-field appearance="fill">
      <mat-label>Ingresá tu mail</mat-label>
      <input matInput placeholder="tu@mail.com" [formControl]="email" required [(ngModel)]="usuario">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Ingresá tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pass">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
  </div>

    <button mat-flat-button color="primary" class="login-button" id="loginButton" (click)="loginButtonOnClick()" [disabled]="loading">INGRESAR</button>
  </mat-card-content>
<a routerLink='/register' [hidden]="loading">Crear cuenta</a>
</div>
</mat-card>
<mat-spinner *ngIf="loading" class="loader"></mat-spinner>
</div>
