<div class="container-static">
    <h1>Acerca de nosotros</h1>

    <p>Queremos cambiar tu experiencia con los medios de transpote: que no pierdas tiempo, que puedas resolver rápido tus necesidades,
    que encuentres una solución para tus inquietudes. Por eso, si creés que hay algo que podemos mejorar, envianos tus comentarios en la sección de sugerencias</p>

    <p>
      Nuestro objetivo es que BondiPago sea accesible para todas las personas sin distinguir su edad, sus capacidades, su conocimiento de internet y alfabetización en TICs.
    </p>
    <p>BondiPago es un desarrollo del grupo TRAPELSIC</p>

</div>


