<div class="main-div">

<div class="container-static">
  <h1>Términos y condiciones de uso</h1>

  <h2>Alcance</h2>

  <p>Los presentes <strong>Términos y Condiciones</strong> son aplicables a los activos digitales y a otros productos de Trapelsic.</p>
  <p>El acceso a los Servicios Digitales es libre y gratuito. El Usuario garantiza y declara ser mayor de 18 años, y/o en su caso,
    que tiene la expresa autorización de sus padres o de sus tutores para poder acceder al sitio web y que es competente para entender y
     aceptar sin reservas las obligaciones, afirmaciones, representaciones y garantías establecidas en estos Términos y Condiciones.
  </p>

  <h2>Usuarios, obligaciones, responsabilidad y condiciones</h2>

  <p>El Usuario deberá respetar estos Términos y Condiciones de Uso del sitio web. Las infracciones por acción u omisión de los presentes Términos y Condiciones de Uso generarán el derecho a favor del Administrador de suspender al Usuario que las haya realizado.</p>

  <p>El Usuario se compromete a:
<br/>
- No acceder a datos restringidos o a intentar violar las barreras de seguridad para llegar a ellos.
<br/>
- No realizar búsquedas de vulnerabilidades o explotación de las mismas para cualquier fin.
<br/>
- No divulgar información acerca de la detección de vulnerabilidades encontradas en BondiPago.
<br/>
- Comunicar al Administrador toda información a la que tenga acceso que pudiera implicar un compromiso a la seguridad de la información de la plataforma BondiPago.
<br/>
La adecuada utilización de todos los recursos de Internet es, sin excepción, de entera responsabilidad del Usuario de los Servicios de Trapelsic.
  </p>

  <h2> Actividades prohibidas</h2>
<p>
  Las siguientes actividades se encuentran expresamente vedadas, sin perjuicio de las prohibiciones generales expuestas anteriormente:
<br/>- Hostigar, acosar, amenazar, acechar, realizar actos de vandalismo hacia otros Usuarios.
<br/>- Infringir los derechos a la intimidad de otros Usuarios.
<br/>- Solicitar información personal identificable de otros Usuarios con el propósito de hostigar, atacar, explotar, violar la intimidad de los mismos;
<br/>- Publicar de manera intencionada o con conocimiento injurias o calumnias;
<br/>- Publicar, con el intento de engañar, contenido que es falso o inexacto;
<br/>- Intentar usurpar la identidad de otro Usuario, representando de manera falsa su afiliación con cualquier individuo o entidad, o utilizar el nombre de otro Usuario con el propósito de engañar;
<br/>- Vulnerar los derechos establecidos en la Ley N° 25.326 de Protección de Datos Personales.

En caso de sufrir alguna de estas situaciones, deberá comunicarse con el Administrador.
</p>
<h2>Modificación de los Términos y Condiciones</h2>
<p>El Administrador se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento</p>



</div>

</div>
