.main-div{
    height:95vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 60em;
  }

  .column {
    padding-left: 16px;
    font-size: 14px;
    width: 8em;
    text-align: center;
  }

  .searchcontainer {
    text-align:center;
 }

 .searchcontainer .search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }